@tailwind base;
@tailwind components;
@tailwind utilities;
 
@font-face {
  font-family: 'Fixel';
  src: url('../../public/fonts/FixelText-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Fixel';
  src: url('../../public/fonts/FixelText-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Fixel';
  src: url('../../public/fonts/FixelText-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Fixel';
  src: url('../../public/fonts/FixelText-SemiBold.ttf');
  font-weight: 600;
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Fixel';
  background-color: #fff;
  font-weight: 400;
  color: #222;
}

#nprogress .spinner { 
  display: none!important;
}

@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
  line-height: 1;
}

input[type="date"] {
  display: flex;
  align-items: center;
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-position-x: right;
  background-position-y: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 10px;
  width: auto;
}
