@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mariupol';
  src: url('../../public/fonts/Mariupol-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Mariupol';
  src: url('../../public/fonts/Mariupol-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Mariupol';
  src: url('../../public/fonts/Mariupol-Bold.ttf');
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Mariupol';
  background-color: #222;
  color: #fff;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
  line-height: 1;
}